
.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }
  
  .logo {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
  
  }
  
  .logo-mmk {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
  }
  
  .nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-branco-cinza);
  }
  
  .nav a:hover {
    color: var(--cor-cromio);
    
  }